.earn-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #f2f0eb;
	padding: 0rem 2rem;
}

.top-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5rem;
}
.top-section h1 {
	text-align: center;
	font-family: inherit;
	font-size: 1.7rem;
	font-weight: 600;
	margin: 0px;
}

.top-section p {
	text-align: center;
	font-family: inherit;
	width: 55%;
}

.bottom-wrapper {
	display: flex;
  padding-bottom: 2rem;
}

.first {
	width: 20%;
}
.first h1 {
	font-weight: 600;
	margin: 0px;
}
.first p {
	margin: 0px;
}

.second,
.third {
	display: flex;
	gap: 1rem;
	width: 60%;
}

.second,
.third img {
	width: 10rem;
	height: 10rem;
}

.second h3,
.third h3 {
	margin: 0px;
	font-weight: 500;
}

.second  {
	width: 40%;
}
.third p {
	width: 70%;
}
